In [1]:
import numpy as np
import pandas as pd

In [6]:
mydata = ['USA', 'Canada', 'Mexico']
myindex = [111, 121, 131]

In [7]:
myser = pd.Series(data = mydata, index = myindex)

In [8]:
myser[121]

'Canada'

In [9]:
ages = {'Sam': 5, 'Frank': 6}
ages_series = pd.Series(ages)

In [12]:
ages_series['Sam']

5

In [14]:
# Dataframes

np.random.seed(101)
mydata = np.random.randint(0, 101, (4, 3))

In [17]:
myindex = ['ca', 'ny', 'az', 'tx']
mycolumns = ['Jan', 'Feb', 'Mar']
df = pd.DataFrame(data = mydata, index = myindex, columns = mycolumns)
df

    Jan  Feb  Mar
ca   95   11   81
ny   70   63   87
az   75    9   77
tx   40    4   63

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, ca to tx
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes